(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
uni004A0301,
Jcircumflex,
K,
L,
Lacute,
Lcaron,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Ograve,
Ohorn,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
uni1E9E,
T,
Tbar,
Tcaron,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhorn,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
uni0122,
uni0136,
uni013B,
uni0145,
uni0156,
uni0162,
uni0218,
uni021A,
uni1EA0,
uni1EA2,
uni1EA4,
uni1EA6,
uni1EA8,
uni1EAA,
uni1EAC,
uni1EAE,
uni1EB0,
uni1EB2,
uni1EB4,
uni1EB6,
uni1EB8,
uni1EBA,
uni1EBC,
uni1EBE,
uni1EC0,
uni1EC2,
uni1EC4,
uni1EC6,
uni1EC8,
uni1ECA,
uni1ECC,
uni1ECE,
uni1ED0,
uni1ED2,
uni1ED4,
uni1ED6,
uni1ED8,
uni1EDA,
uni1EDC,
uni1EDE,
uni1EE0,
uni1EE2,
uni1EE4,
uni1EE6,
uni1EE8,
uni1EEA,
uni1EEC,
uni1EEE,
uni1EF0,
uni1EF4,
uni1EF6,
uni1EF8,
uni1EB6.ss01,
uni1EAC.ss01,
Adieresis.ss01,
uni1EA0.ss01,
Cdotaccent.ss01,
uni1EC6.ss01,
Edieresis.ss01,
Edotaccent.ss01,
uni1EB8.ss01,
Gdotaccent.ss01,
Idieresis.ss01,
Idotaccent.ss01,
uni1ECA.ss01,
Ldot.ss01,
uni1ED8.ss01,
Odieresis.ss01,
uni1ECC.ss01,
uni1EE2.ss01,
Q.ss01,
Udieresis.ss01,
uni1EE4.ss01,
uni1EF0.ss01,
Wdieresis.ss01,
Ydieresis.ss01,
uni1EF4.ss01,
Zdotaccent.ss01,
I.ss04,
IJ.ss04,
Iacute.ss04,
Ibreve.ss04,
Icircumflex.ss04,
Idieresis.ss04,
Idotaccent.ss04,
uni1ECA.ss04,
Igrave.ss04,
uni1EC8.ss04,
Imacron.ss04,
Iogonek.ss04,
Itilde.ss04,
Idieresis.ss01.ss04,
Idotaccent.ss01.ss04,
uni1ECA.ss01.ss04,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcaron,
gcircumflex,
gdotaccent,
h,
hbar,
hcircumflex,
i,
dotlessi,
iacute,
ibreve,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
uni0237,
uni006A0301,
jcircumflex,
k,
kra,
l,
lacute,
lcaron,
ldot,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
odieresis,
ograve,
ohorn,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
scedilla,
scircumflex,
germandbls,
longs,
t,
tbar,
tcaron,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhorn,
uhungarumlaut,
umacron,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni0163,
uni0219,
uni021B,
uni1EA1,
uni1EA3,
uni1EA5,
uni1EA7,
uni1EA9,
uni1EAB,
uni1EAD,
uni1EAF,
uni1EB1,
uni1EB3,
uni1EB5,
uni1EB7,
uni1EB9,
uni1EBB,
uni1EBD,
uni1EBF,
uni1EC1,
uni1EC3,
uni1EC5,
uni1EC7,
uni1EC9,
uni1ECB,
uni1ECD,
uni1ECF,
uni1ED1,
uni1ED3,
uni1ED5,
uni1ED7,
uni1ED9,
uni1EDB,
uni1EDD,
uni1EDF,
uni1EE1,
uni1EE3,
uni1EE5,
uni1EE7,
uni1EE9,
uni1EEB,
uni1EED,
uni1EEF,
uni1EF1,
uni1EF5,
uni1EF7,
uni1EF9,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
uni1ECB.dotless,
iogonek.dotless,
i.loclTRK,
a.ss01,
aacute.ss01,
abreve.ss01,
uni1EAF.ss01,
uni1EB7.ss01,
uni1EB1.ss01,
uni1EB3.ss01,
uni1EB5.ss01,
acircumflex.ss01,
uni1EA5.ss01,
uni1EAD.ss01,
uni1EA7.ss01,
uni1EA9.ss01,
uni1EAB.ss01,
adieresis.ss01,
uni1EA1.ss01,
agrave.ss01,
uni1EA3.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
cdotaccent.ss01,
uni1EC7.ss01,
edieresis.ss01,
edotaccent.ss01,
uni1EB9.ss01,
gdotaccent.ss01,
i.ss01,
idieresis.ss01,
i.loclTRK.ss01,
uni1ECB.ss01,
j.ss01,
ldot.ss01,
uni1ED9.ss01,
odieresis.ss01,
uni1ECD.ss01,
uni1EE3.ss01,
udieresis.ss01,
uni1EE5.ss01,
uni1EF1.ss01,
wdieresis.ss01,
y.ss01,
yacute.ss01,
ycircumflex.ss01,
ydieresis.ss01,
uni1EF5.ss01,
ygrave.ss01,
zdotaccent.ss01,
l.ss02,
lacute.ss02,
lcaron.ss02,
uni013C.ss02,
ldot.ss02,
lslash.ss02,
r.ss03,
racute.ss03,
rcaron.ss03,
uni0157.ss03,
uni1ECB.dotless.ss01,
ldot.ss01.ss02,
f_f.liga,
f_f_i.liga,
f_f_l.liga,
fi,
fl,
fl.ss02,
f_f_l.liga.ss02,
a.sc,
aacute.sc,
abreve.sc,
uni1EB7.sc,
acircumflex.sc,
uni1EAD.sc,
adieresis.sc,
uni1EA1.sc,
agrave.sc,
uni1EA3.sc,
amacron.sc,
aogonek.sc,
aring.sc,
atilde.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccircumflex.sc,
cdotaccent.sc,
d.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecircumflex.sc,
uni1EC7.sc,
edieresis.sc,
edotaccent.sc,
uni1EB9.sc,
egrave.sc,
uni1EBB.sc,
emacron.sc,
uni1EBD.sc,
f.sc,
g.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gdotaccent.sc,
h.sc,
hcircumflex.sc,
i.sc,
dotlessi.sc,
iacute.sc,
ibreve.sc,
icircumflex.sc,
idieresis.sc,
i.sc.loclTRK,
uni1ECB.sc,
igrave.sc,
uni1EC9.sc,
imacron.sc,
iogonek.sc,
itilde.sc,
ij.sc,
j.sc,
uni0237.sc,
uni006A0301.sc,
jcircumflex.sc,
k.sc,
uni0137.sc,
l.sc,
lacute.sc,
uni013C.sc,
m.sc,
n.sc,
nacute.sc,
ncaron.sc,
uni0146.sc,
ntilde.sc,
o.sc,
oacute.sc,
ocircumflex.sc,
uni1ED9.sc,
odieresis.sc,
uni1ECD.sc,
ograve.sc,
uni1ECF.sc,
ohorn.sc,
uni1EDB.sc,
uni1EE3.sc,
uni1EDD.sc,
uni1EDF.sc,
uni1EE1.sc,
ohungarumlaut.sc,
omacron.sc,
otilde.sc,
p.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
uni0157.sc,
s.sc,
sacute.sc,
scaron.sc,
scedilla.sc,
scircumflex.sc,
uni0219.sc,
t.sc,
uni0163.sc,
uni021B.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucircumflex.sc,
udieresis.sc,
uni1EE5.sc,
ugrave.sc,
uni1EE7.sc,
uhorn.sc,
uni1EE9.sc,
uni1EF1.sc,
uni1EEB.sc,
uni1EED.sc,
uni1EEF.sc,
uhungarumlaut.sc,
umacron.sc,
uogonek.sc,
uring.sc,
utilde.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
uni1EF5.sc,
ygrave.sc,
uni1EF7.sc,
uni1EF9.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
ordfeminine,
ordmasculine,
Omega,
uni03BC,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
uni24FF,
uni2776,
uni2777,
uni2778,
uni2779,
uni277A,
uni277B,
uni277C,
uni277D,
uni277E,
uni24EA,
uni2460,
uni2461,
uni2462,
uni2463,
uni2464,
uni2465,
uni2466,
uni2467,
uni2468,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
uni2080,
uni2081,
uni2082,
uni2083,
uni2084,
uni2085,
uni2086,
uni2087,
uni2088,
uni2089,
uni2070,
uni00B9,
uni00B2,
uni00B3,
uni2074,
uni2075,
uni2076,
uni2077,
uni2078,
uni2079,
space,
uni00A0,
.notdef,
hyphen_hyphen.dlig,
hyphen_hyphen_hyphen.dlig,
hyphen_greater.dlig,
hyphen_asciicircum.dlig,
period_period_period.dlig,
slash_greater.dlig,
backslash_greater.dlig,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
exclamdown.case,
questiondown.case,
bullet.case,
periodcentered.loclCAT,
period.ss01,
comma.ss01,
colon.ss01,
semicolon.ss01,
ellipsis.ss01,
exclam.ss01,
exclamdown.ss01,
question.ss01,
questiondown.ss01,
periodcentered.ss01,
periodcentered.loclCAT.case,
exclamdown.case.ss01,
questiondown.case.ss01,
periodcentered.loclCAT.ss01,
periodcentered.loclCAT.case.ss01,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotesinglbase.ss01,
quotedblbase.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
florin,
baht,
exclam_equal.dlig,
bar_greater.dlig,
equal_greater.dlig,
equal_less.dlig,
greater_equal.dlig,
less_hyphen.dlig,
less_bar.dlig,
less_equal.dlig,
less_greater.dlig,
less_slash.dlig,
less_backslash.dlig,
asciicircum_hyphen.dlig,
uni2639,
smileface,
uni2713,
at,
ampersand,
paragraph,
section,
copyright,
registered,
uni2117,
trademark,
degree,
bar,
brokenbar,
uni2113,
dagger,
daggerdbl,
estimated,
uni2116,
uniF8FF,
Euro,
cent,
currency,
dollar,
sterling,
uni20AA,
uni20B9,
uni20BA,
uni20BF,
yen,
cedi,
colonsign,
dong,
guarani,
hryvnia,
kip,
manat,
naira,
peso,
ruble,
tenge,
tugrik,
won,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
logicalnot,
asciitilde,
asciicircum,
infinity,
emptyset,
integral,
product,
summation,
radical,
mu,
percent,
perthousand,
divide.ss01,
increment,
partialdiff,
arrowup,
arrowright,
arrowdown,
arrowleft,
arrowboth,
uni25CF,
circle,
uni25CC,
lozenge,
uni0308,
uni0307,
gravecomb,
acutecomb,
uni030B,
uni0302,
uni03020300,
uni03020301,
uni03020303,
uni03020309,
uni030C,
uni0306,
uni03060300,
uni03060301,
uni03060303,
uni03060309,
uni030A,
tildecomb,
uni0304,
hookabovecomb,
uni0312,
uni031B,
dotbelowcomb,
uni0326,
uni0327,
uni0328,
uni0335,
uni0336,
uni0337,
uni0338,
uni0335.case,
uni0337.case,
uni0338.case,
uni0328.e,
uni0308.ss01,
uni0307.ss01,
dotbelowcomb.ss01,
uni030C.alt,
uni030C.alt.t,
uni0335.t,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_Euro.bars,
_bitcoin.bars,
_dollar.bar,
_yen.bars,
_AE.E,
_OE.O,
_Stem.Uppercase,
_copyright.C,
_percent.zero,
_published.P,
_tail.Q,
_tail.Q.ss01
)